In [197]:
#District Summary

# Create a high level snapshot (in table form) of the district's key metrics, including:

# Total Schools
# Total Students
# Total Budget
# Average Math Score
# Average Reading Score
# % Passing Math (The percentage of students that passed math.)
# % Passing Reading (The percentage of students that passed reading.)
# % Overall Passing (The percentage of students that passed math and reading.).

In [198]:
import pandas as pd
import numpy as np

In [199]:
#reading school csv to dataframe
schools_path = r"/Users/rosaicelaroman/Desktop/Data_BootCamp/LearnPython/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
schools_df = pd.read_csv(schools_path)
schools_df.head(3)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [200]:
#reading students csv to dataframe
schools_path = r"/Users/rosaicelaroman/Desktop/Data_BootCamp/LearnPython/pandas-challenge/PyCitySchools/Resources/students_complete.csv"
students_df = pd.read_csv(schools_path)
students_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [201]:
#district summary
#--------------------------------
#dataframe info
schools_df.info()
schools_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School ID    15 non-null     int64
 1   school_name  15 non-null     object
 2   type         15 non-null     object
 3   size         15 non-null     int64
 4   budget       15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [202]:
#total schools
total_schools = schools_df["school_name"].count()
total_schools

15

In [203]:
#total students
total_students = schools_df["size"].sum()
total_students = "{:,}".format(total_students)
total_students

'39,170'

In [204]:
#total budget
total_budget = schools_df["budget"].sum()
total_budget = "${:,}".format(total_budget)
total_budget

'$24,649,428'

In [205]:
#calculate average math score
students_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [206]:
avg_math = round(students_df['math_score'].mean(),2)
avg_math

78.99

In [207]:
#calculate average reading score
avg_reading = round(students_df['reading_score'].mean(),2)
avg_reading

81.88

In [208]:
#* Calculate the percentage of students with a passing math score (70 or greater)
bins = [0, 69,100]
group_names = ['not passing','passing']
copy_students_df = students_df.copy()
copy_students_df['math_score']=pd.cut(copy_students_df['math_score'], bins, labels = group_names)
copy_students_df['reading_score']=pd.cut(copy_students_df['reading_score'], bins, labels = group_names)
copy_students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,not passing,passing
1,1,Victor Smith,M,12th,Huang High School,passing,not passing
2,2,Kevin Rodriguez,M,12th,Huang High School,passing,not passing
3,3,Dr. Richard Scott,M,12th,Huang High School,not passing,not passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,passing,passing
39166,39166,Dawn Bell,F,10th,Thomas High School,passing,passing
39167,39167,Rebecca Tanner,F,9th,Thomas High School,passing,passing
39168,39168,Desiree Kidd,F,10th,Thomas High School,passing,passing
39169,39169,Carolyn Jackson,F,11th,Thomas High School,passing,passing

In [209]:
conditions = [(copy_students_df['reading_score'] == 'passing') & (copy_students_df['math_score'] == 'passing'), (copy_students_df['math_score'] != 'passing')]
choices = ['passing', 'not passing']
copy_students_df['overall_passing'] = np.select(conditions, choices, default = 'not passing')
copy_students_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,overall_passing
0,0,Paul Bradley,M,9th,Huang High School,not passing,passing,not passing
1,1,Victor Smith,M,12th,Huang High School,passing,not passing,not passing
2,2,Kevin Rodriguez,M,12th,Huang High School,passing,not passing,not passing
3,3,Dr. Richard Scott,M,12th,Huang High School,not passing,not passing,not passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing,passing
5,5,Bryan Miranda,M,9th,Huang High School,passing,passing,passing
6,6,Sheena Carter,F,11th,Huang High School,passing,passing,passing
7,7,Nicole Baker,F,12th,Huang High School,passing,not passing,not passing
8,8,Michael Roth,M,10th,Huang High School,passing,passing,passing
9,9,Matthew Greene,M,10th,Huang High School,passing,passing,passing
10,10,Andrew Alexander,M,10th,Huang High School,passing,passing,passing
11,11,Daniel Cooper,M,10th,Huang High School,passing,passing,passing
12,12,Brittney Walker,F,9th,Huang High School,not passing,passing,not passing
13,13,William Long,M,9th,Huang High School,passing,passing,passing
14,14,Tammy Hebert,F,10th,Huang High School,passing,not passing,not passing
15,15,Dr. Jordan Carson,M,11th,Huang High School,passing,passing,passing
16,16,Donald Zamora,M,9th,Huang High School,passing,not passing,not passing
17,17,Kimberly Santiago,F,9th,Huang High School,passing,passing,passing
18,18,Kevin Stevens,M,9th,Huang High School,not passing,not passing,not passing
19,19,Brandi Lyons,F,9th,Huang High School,passing,passing,passing

In [210]:
# Calculate the percentage of students with a passing reading score (70 or greater)
math_passing = copy_students_df['math_score'].value_counts()

In [211]:
reading_passing = copy_students_df['reading_score'].value_counts()

In [212]:
overall_passing = copy_students_df['overall_passing'].value_counts()

In [213]:
summary_df_1 = pd.DataFrame(math_passing)
summary_df_1.index.name = "Student Status"
summary_df_1

                math_score
Student Status
passing              29370
not passing           9800

In [214]:
summary_df_2 = pd.DataFrame(reading_passing)
summary_df_2.index.name = "Student Status"
summary_df_2

                reading_score
Student Status
passing                 33610
not passing              5560

In [215]:
summary_df_3 = pd.DataFrame(overall_passing)
summary_df_3.index.name = "Student Status"
summary_df_3

                overall_passing
Student Status
passing                   25528
not passing               13642

In [216]:
perc_math = copy_students_df['math_score'].value_counts(normalize=True)*100

In [217]:
summary_df_4 = pd.DataFrame(perc_math)
summary_df_4.index.name = "Student Status"
summary_df_4 = summary_df_4.rename(columns={"math_score": "% Math"})
summary_df_4

                % Math
Student Status
passing          74.98
not passing      25.02

In [218]:
perc_reading = copy_students_df['reading_score'].value_counts(normalize=True)*100

In [219]:
summary_df_5 = pd.DataFrame(perc_reading)
summary_df_5.index.name = "Student Status"
summary_df_5 = summary_df_5.rename(columns={"reading_score": "% Reading"})
summary_df_5['% Reading'] = pd.to_numeric(summary_df_5['% Reading'])
summary_df_5

                % Reading
Student Status
passing             85.81
not passing         14.19

In [220]:
overall_passing_perc= perc_reading = copy_students_df['overall_passing'].value_counts(normalize=True)*100

In [221]:
summary_df_6 = pd.DataFrame(overall_passing_perc)
summary_df_6.index.name = "Student Status"
summary_df_6 = summary_df_6.rename(columns={"overall_passing": "% Overall Passing"})
summary_df_6

                % Overall Passing
Student Status
passing                     65.17
not passing                 34.83

In [225]:
combined_df = summary_df_1.join(summary_df_2, how='outer')
combined_df = combined_df.join(summary_df_3, how='outer')
combined_df = combined_df.join(summary_df_4, how='outer')
combined_df = combined_df.join(summary_df_5, how='outer')
combined_df = combined_df.join(summary_df_6, how='outer')
combined_df

,math_score,reading_score,overall_passing,% Math,% Reading,% Overall Passing
Student Status,,,,,,
passing,29370,33610,25528,74.98,85.81,65.17
not passing,9800,5560,13642,25.02,14.19,34.83

In [226]:
combined_df = combined_df.rename(columns={"math_score": "Math Score", "reading_score": "Reading Score", "overall_passing": "Overall Passing"})
combined_df

,Math Score,Reading Score,Overall Passing,% Math,% Reading,% Overall Passing
Student Status,,,,,,
passing,29370,33610,25528,74.98,85.81,65.17
not passing,9800,5560,13642,25.02,14.19,34.83

In [235]:
data = {'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 'Average Math Score': [avg_math], 'Average Reading Score': [avg_reading], '% Passing Math': [combined_df.iloc[0,3]], '% Passing Reading':[combined_df.iloc[0,4]], "% Overall Passing": [combined_df.iloc[0,5]]}
district_df = pd.DataFrame.from_dict(data)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,65.17

In [ ]:
#  School Summary
 
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

In [242]:
#schools_df
school_student_df = copy_students_df.groupby(['school_name']).count()
school_student_df = school_student_df.drop(['Student ID', 'student_name', 'gender', 'grade'], axis=1)
school_student_df

                       reading_score  math_score  overall_passing
school_name
Bailey High School              4976        4976             4976
Cabrera High School             1858        1858             1858
Figueroa High School            2949        2949             2949
Ford High School                2739        2739             2739
Griffin High School             1468        1468             1468
Hernandez High School           4635        4635             4635
Holden High School               427         427              427
Huang High School               2917        2917             2917
Johnson High School             4761        4761             4761
Pena High School                 962         962              962
Rodriguez High School           3999        3999             3999
Shelton High School             1761        1761             1761
Thomas High School              1635        1635             1635
Wilson High School              2283        2283             2283
Wright High School              1800        1800             1800