In [1045]:
#District Summary

# Create a high level snapshot (in table form) of the district's key metrics, including:

# Total Schools
# Total Students
# Total Budget
# Average Math Score
# Average Reading Score
# % Passing Math (The percentage of students that passed math.)
# % Passing Reading (The percentage of students that passed reading.)
# % Overall Passing (The percentage of students that passed math and reading.).

In [1046]:
import pandas as pd
import numpy as np

In [1047]:
#reading school csv to dataframe
schools_path = r"/Users/rosaicelaroman/Desktop/Data_BootCamp/LearnPython/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
schools_df = pd.read_csv(schools_path)

In [1048]:
#reading students csv to dataframe
schools_path = r"/Users/rosaicelaroman/Desktop/Data_BootCamp/LearnPython/pandas-challenge/PyCitySchools/Resources/students_complete.csv"
students_df = pd.read_csv(schools_path)

In [1049]:
#total schools
total_schools = schools_df["school_name"].count()

In [1050]:
#total students
total_students = schools_df["size"].sum()
total_students = "{:,}".format(total_students)

In [1051]:
#total budget
total_budget = schools_df["budget"].sum()
total_budget = "${:,}".format(total_budget)

In [1052]:
avg_math = round(students_df['math_score'].mean(),2)

In [1053]:
#calculate average reading score
avg_reading = round(students_df['reading_score'].mean(),2)

In [1054]:
#* Calculate the percentage of students with a passing math score (70 or greater)
bins = [0, 69,100]
group_names = ['not passing','passing']
copy_students_df = students_df.copy()
copy_students_df['math_score']=pd.cut(copy_students_df['math_score'], bins, labels = group_names)
copy_students_df['reading_score']=pd.cut(copy_students_df['reading_score'], bins, labels = group_names)

In [1055]:
conditions = [(copy_students_df['reading_score'] == 'passing') & (copy_students_df['math_score'] == 'passing'), (copy_students_df['math_score'] != 'passing')]
choices = ['passing', 'not passing']
copy_students_df['overall_passing'] = np.select(conditions, choices, default = 'not passing')
copy_students_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,overall_passing
0,0,Paul Bradley,M,9th,Huang High School,not passing,passing,not passing
1,1,Victor Smith,M,12th,Huang High School,passing,not passing,not passing
2,2,Kevin Rodriguez,M,12th,Huang High School,passing,not passing,not passing
3,3,Dr. Richard Scott,M,12th,Huang High School,not passing,not passing,not passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing,passing
5,5,Bryan Miranda,M,9th,Huang High School,passing,passing,passing
6,6,Sheena Carter,F,11th,Huang High School,passing,passing,passing
7,7,Nicole Baker,F,12th,Huang High School,passing,not passing,not passing
8,8,Michael Roth,M,10th,Huang High School,passing,passing,passing
9,9,Matthew Greene,M,10th,Huang High School,passing,passing,passing
10,10,Andrew Alexander,M,10th,Huang High School,passing,passing,passing
11,11,Daniel Cooper,M,10th,Huang High School,passing,passing,passing
12,12,Brittney Walker,F,9th,Huang High School,not passing,passing,not passing
13,13,William Long,M,9th,Huang High School,passing,passing,passing
14,14,Tammy Hebert,F,10th,Huang High School,passing,not passing,not passing
15,15,Dr. Jordan Carson,M,11th,Huang High School,passing,passing,passing
16,16,Donald Zamora,M,9th,Huang High School,passing,not passing,not passing
17,17,Kimberly Santiago,F,9th,Huang High School,passing,passing,passing
18,18,Kevin Stevens,M,9th,Huang High School,not passing,not passing,not passing
19,19,Brandi Lyons,F,9th,Huang High School,passing,passing,passing

In [1056]:
# Calculate the percentage of students with a passing reading score (70 or greater)
math_passing = copy_students_df['math_score'].value_counts()

In [1057]:
reading_passing = copy_students_df['reading_score'].value_counts()

In [1058]:
overall_passing = copy_students_df['overall_passing'].value_counts()

In [1059]:
summary_df_1 = pd.DataFrame(math_passing)
summary_df_1.index.name = "Student Status"
summary_df_1

                math_score
Student Status
passing              29370
not passing           9800

In [1060]:
summary_df_2 = pd.DataFrame(reading_passing)
summary_df_2.index.name = "Student Status"
summary_df_2

                reading_score
Student Status
passing                 33610
not passing              5560

In [1061]:
summary_df_3 = pd.DataFrame(overall_passing)
summary_df_3.index.name = "Student Status"
summary_df_3

                overall_passing
Student Status
passing                   25528
not passing               13642

In [1062]:
perc_math = round(copy_students_df['math_score'].value_counts(normalize=True)*100,2)

In [1063]:
summary_df_4 = pd.DataFrame(perc_math)
summary_df_4.index.name = "Student Status"
summary_df_4 = summary_df_4.rename(columns={"math_score": "% Math"})
summary_df_4

                % Math
Student Status
passing          74.98
not passing      25.02

In [1064]:
perc_reading = round(copy_students_df['reading_score'].value_counts(normalize=True)*100,2)

In [1065]:
summary_df_5 = pd.DataFrame(perc_reading)
summary_df_5.index.name = "Student Status"
summary_df_5 = summary_df_5.rename(columns={"reading_score": "% Reading"})
summary_df_5

                % Reading
Student Status
passing             85.81
not passing         14.19

In [1066]:
overall_passing_perc= perc_reading = round(copy_students_df['overall_passing'].value_counts(normalize=True)*100,2)

In [1067]:
summary_df_6 = pd.DataFrame(overall_passing_perc)
summary_df_6.index.name = "Student Status"
summary_df_6 = summary_df_6.rename(columns={"overall_passing": "% Overall Passing"})
summary_df_6

                % Overall Passing
Student Status
passing                     65.17
not passing                 34.83

In [1068]:
combined_df = summary_df_1.join(summary_df_2, how='outer')
combined_df = combined_df.join(summary_df_3, how='outer')
combined_df = combined_df.join(summary_df_4, how='outer')
combined_df = combined_df.join(summary_df_5, how='outer')
combined_df = combined_df.join(summary_df_6, how='outer')
combined_df

,math_score,reading_score,overall_passing,% Math,% Reading,% Overall Passing
Student Status,,,,,,
passing,29370,33610,25528,74.98,85.81,65.17
not passing,9800,5560,13642,25.02,14.19,34.83

In [1069]:
combined_df = combined_df.rename(columns={"math_score": "Math Score", "reading_score": "Reading Score", "overall_passing": "Overall Passing"})
combined_df

,Math Score,Reading Score,Overall Passing,% Math,% Reading,% Overall Passing
Student Status,,,,,,
passing,29370,33610,25528,74.98,85.81,65.17
not passing,9800,5560,13642,25.02,14.19,34.83

In [1070]:
data = {'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 'Average Math Score': [avg_math], 'Average Reading Score': [avg_reading], '% Passing Math': [combined_df.iloc[0,3]], '% Passing Reading':[combined_df.iloc[0,4]], "% Overall Passing": [combined_df.iloc[0,5]]}
district_df = pd.DataFrame.from_dict(data)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,65.17

In [1071]:
#  School Summary
 
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

In [1072]:
#schools_df to obtain average scores per school
school_student_df = round(students_df.groupby(['school_name'])['reading_score', 'math_score'].mean(),2)

In [1073]:
copy_schools_df = schools_df.copy()

In [1074]:
# combined school and studetnt data
combined_district_df = pd.merge(copy_schools_df,school_student_df,how='outer',on='school_name')
combined_district_df

,School ID,school_name,type,size,budget,reading_score,math_score
0,0,Huang High School,District,2917,1910635,81.18,76.63
1,1,Figueroa High School,District,2949,1884411,81.16,76.71
2,2,Shelton High School,Charter,1761,1056600,83.73,83.36
3,3,Hernandez High School,District,4635,3022020,80.93,77.29
4,4,Griffin High School,Charter,1468,917500,83.82,83.35
5,5,Wilson High School,Charter,2283,1319574,83.99,83.27
6,6,Cabrera High School,Charter,1858,1081356,83.98,83.06
7,7,Bailey High School,District,4976,3124928,81.03,77.05
8,8,Holden High School,Charter,427,248087,83.81,83.80
9,9,Pena High School,Charter,962,585858,84.04,83.84
10,10,Wright High School,Charter,1800,1049400,83.96,83.68
11,11,Rodriguez High School,District,3999,2547363,80.74,76.84
12,12,Johnson High School,District,4761,3094650,80.97,77.07
13,13,Ford High School,District,2739,1763916,80.75,77.10
14,14,Thomas High School,Charter,1635,1043130,83.85,83.42

In [1075]:
combined_district_df = combined_district_df.rename(columns={"type": "School Type", "size": "Total Students", "budget": "Total School Budget","math_score": "Avg Math Score","reading_score": "Avg Reading Score",'reading_score': "Avg Reading Score", 'math_score': "Avg Math Score"})
combined_district_df

,School ID,school_name,School Type,Total Students,Total School Budget,Avg Reading Score,Avg Math Score
0,0,Huang High School,District,2917,1910635,81.18,76.63
1,1,Figueroa High School,District,2949,1884411,81.16,76.71
2,2,Shelton High School,Charter,1761,1056600,83.73,83.36
3,3,Hernandez High School,District,4635,3022020,80.93,77.29
4,4,Griffin High School,Charter,1468,917500,83.82,83.35
5,5,Wilson High School,Charter,2283,1319574,83.99,83.27
6,6,Cabrera High School,Charter,1858,1081356,83.98,83.06
7,7,Bailey High School,District,4976,3124928,81.03,77.05
8,8,Holden High School,Charter,427,248087,83.81,83.80
9,9,Pena High School,Charter,962,585858,84.04,83.84
10,10,Wright High School,Charter,1800,1049400,83.96,83.68
11,11,Rodriguez High School,District,3999,2547363,80.74,76.84
12,12,Johnson High School,District,4761,3094650,80.97,77.07
13,13,Ford High School,District,2739,1763916,80.75,77.10
14,14,Thomas High School,Charter,1635,1043130,83.85,83.42

In [1076]:
combined_district_df = combined_district_df.drop('School ID', axis=1)
combined_district_df = combined_district_df.set_index(['school_name'])
combined_district_df = combined_district_df.sort_index(ascending=True)
combined_district_df

,School Type,Total Students,Total School Budget,Avg Reading Score,Avg Math Score
school_name,,,,,
Bailey High School,District,4976,3124928,81.03,77.05
Cabrera High School,Charter,1858,1081356,83.98,83.06
Figueroa High School,District,2949,1884411,81.16,76.71
Ford High School,District,2739,1763916,80.75,77.10
Griffin High School,Charter,1468,917500,83.82,83.35
Hernandez High School,District,4635,3022020,80.93,77.29
Holden High School,Charter,427,248087,83.81,83.80
Huang High School,District,2917,1910635,81.18,76.63
Johnson High School,District,4761,3094650,80.97,77.07
Pena High School,Charter,962,585858,84.04,83.84
Rodriguez High School,District,3999,2547363,80.74,76.84
Shelton High School,Charter,1761,1056600,83.73,83.36
Thomas High School,Charter,1635,1043130,83.85,83.42
Wilson High School,Charter,2283,1319574,83.99,83.27
Wright High School,Charter,1800,1049400,83.96,83.68

In [1077]:
passingmath_df = copy_students_df.loc[copy_students_df['math_score'] == 'passing']
passingmath_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,overall_passing
0,0,Paul Bradley,M,9th,Huang High School,not passing,passing,not passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing,passing
5,5,Bryan Miranda,M,9th,Huang High School,passing,passing,passing
6,6,Sheena Carter,F,11th,Huang High School,passing,passing,passing
8,8,Michael Roth,M,10th,Huang High School,passing,passing,passing
...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,passing,passing,passing
39166,39166,Dawn Bell,F,10th,Thomas High School,passing,passing,passing
39167,39167,Rebecca Tanner,F,9th,Thomas High School,passing,passing,passing
39168,39168,Desiree Kidd,F,10th,Thomas High School,passing,passing,passing
39169,39169,Carolyn Jackson,F,11th,Thomas High School,passing,passing,passing

In [1078]:

mathgrouped_school_scores = passingmath_df.groupby(["school_name"]).count()['student_name']/combined_district_df['Total Students']
mathgrouped_school_scores

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [1079]:
combined_district_df['% Passing Math'] = round((mathgrouped_school_scores)*100,2)
combined_district_df

,School Type,Total Students,Total School Budget,Avg Reading Score,Avg Math Score,% Passing Math
school_name,,,,,,
Bailey High School,District,4976,3124928,81.03,77.05,66.68
Cabrera High School,Charter,1858,1081356,83.98,83.06,94.13
Figueroa High School,District,2949,1884411,81.16,76.71,65.99
Ford High School,District,2739,1763916,80.75,77.10,68.31
Griffin High School,Charter,1468,917500,83.82,83.35,93.39
Hernandez High School,District,4635,3022020,80.93,77.29,66.75
Holden High School,Charter,427,248087,83.81,83.80,92.51
Huang High School,District,2917,1910635,81.18,76.63,65.68
Johnson High School,District,4761,3094650,80.97,77.07,66.06
Pena High School,Charter,962,585858,84.04,83.84,94.59
Rodriguez High School,District,3999,2547363,80.74,76.84,66.37
Shelton High School,Charter,1761,1056600,83.73,83.36,93.87
Thomas High School,Charter,1635,1043130,83.85,83.42,93.27
Wilson High School,Charter,2283,1319574,83.99,83.27,93.87
Wright High School,Charter,1800,1049400,83.96,83.68,93.33

In [1080]:
passingreading_df = copy_students_df.loc[copy_students_df['reading_score'] == 'passing']
passingreading_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,overall_passing
1,1,Victor Smith,M,12th,Huang High School,passing,not passing,not passing
2,2,Kevin Rodriguez,M,12th,Huang High School,passing,not passing,not passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing,passing
5,5,Bryan Miranda,M,9th,Huang High School,passing,passing,passing
6,6,Sheena Carter,F,11th,Huang High School,passing,passing,passing
...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,passing,passing,passing
39166,39166,Dawn Bell,F,10th,Thomas High School,passing,passing,passing
39167,39167,Rebecca Tanner,F,9th,Thomas High School,passing,passing,passing
39168,39168,Desiree Kidd,F,10th,Thomas High School,passing,passing,passing
39169,39169,Carolyn Jackson,F,11th,Thomas High School,passing,passing,passing

In [1081]:
readgrouped_school_scores = passingreading_df.groupby(["school_name"]).count()['student_name']/combined_district_df['Total Students']
readgrouped_school_scores

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [1082]:
combined_district_df['% Passing Reading'] = round((readgrouped_school_scores)*100,2)
combined_district_df

,School Type,Total Students,Total School Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading
school_name,,,,,,,
Bailey High School,District,4976,3124928,81.03,77.05,66.68,81.93
Cabrera High School,Charter,1858,1081356,83.98,83.06,94.13,97.04
Figueroa High School,District,2949,1884411,81.16,76.71,65.99,80.74
Ford High School,District,2739,1763916,80.75,77.10,68.31,79.30
Griffin High School,Charter,1468,917500,83.82,83.35,93.39,97.14
Hernandez High School,District,4635,3022020,80.93,77.29,66.75,80.86
Holden High School,Charter,427,248087,83.81,83.80,92.51,96.25
Huang High School,District,2917,1910635,81.18,76.63,65.68,81.32
Johnson High School,District,4761,3094650,80.97,77.07,66.06,81.22
Pena High School,Charter,962,585858,84.04,83.84,94.59,95.95
Rodriguez High School,District,3999,2547363,80.74,76.84,66.37,80.22
Shelton High School,Charter,1761,1056600,83.73,83.36,93.87,95.85
Thomas High School,Charter,1635,1043130,83.85,83.42,93.27,97.31
Wilson High School,Charter,2283,1319574,83.99,83.27,93.87,96.54
Wright High School,Charter,1800,1049400,83.96,83.68,93.33,96.61

In [1083]:
passingoverall_df = copy_students_df.loc[copy_students_df['overall_passing'] == 'passing']
passingoverall_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,overall_passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing,passing
5,5,Bryan Miranda,M,9th,Huang High School,passing,passing,passing
6,6,Sheena Carter,F,11th,Huang High School,passing,passing,passing
8,8,Michael Roth,M,10th,Huang High School,passing,passing,passing
9,9,Matthew Greene,M,10th,Huang High School,passing,passing,passing
...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,passing,passing,passing
39166,39166,Dawn Bell,F,10th,Thomas High School,passing,passing,passing
39167,39167,Rebecca Tanner,F,9th,Thomas High School,passing,passing,passing
39168,39168,Desiree Kidd,F,10th,Thomas High School,passing,passing,passing
39169,39169,Carolyn Jackson,F,11th,Thomas High School,passing,passing,passing

In [1084]:
overallpass_school_scores = passingoverall_df.groupby(["school_name"]).count()['student_name']/combined_district_df['Total Students']
overallpass_school_scores

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
dtype: float64

In [1085]:
combined_district_df['% Overall Passing'] = round((overallpass_school_scores)*100,2)
combined_district_df.index.names = ['']
combined_district_df

,School Type,Total Students,Total School Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,
Bailey High School,District,4976,3124928,81.03,77.05,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356,83.98,83.06,94.13,97.04,91.33
Figueroa High School,District,2949,1884411,81.16,76.71,65.99,80.74,53.20
Ford High School,District,2739,1763916,80.75,77.10,68.31,79.30,54.29
Griffin High School,Charter,1468,917500,83.82,83.35,93.39,97.14,90.60
Hernandez High School,District,4635,3022020,80.93,77.29,66.75,80.86,53.53
Holden High School,Charter,427,248087,83.81,83.80,92.51,96.25,89.23
Huang High School,District,2917,1910635,81.18,76.63,65.68,81.32,53.51
Johnson High School,District,4761,3094650,80.97,77.07,66.06,81.22,53.54
Pena High School,Charter,962,585858,84.04,83.84,94.59,95.95,90.54
Rodriguez High School,District,3999,2547363,80.74,76.84,66.37,80.22,52.99
Shelton High School,Charter,1761,1056600,83.73,83.36,93.87,95.85,89.89
Thomas High School,Charter,1635,1043130,83.85,83.42,93.27,97.31,90.95
Wilson High School,Charter,2283,1319574,83.99,83.27,93.87,96.54,90.58
Wright High School,Charter,1800,1049400,83.96,83.68,93.33,96.61,90.33

In [1086]:
combined_district_df['Per Student Budget'] = combined_district_df['Total School Budget']/combined_district_df['Total Students']
combined_district_df

,School Type,Total Students,Total School Budget,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget
,,,,,,,,,
Bailey High School,District,4976,3124928,81.03,77.05,66.68,81.93,54.64,628.0
Cabrera High School,Charter,1858,1081356,83.98,83.06,94.13,97.04,91.33,582.0
Figueroa High School,District,2949,1884411,81.16,76.71,65.99,80.74,53.20,639.0
Ford High School,District,2739,1763916,80.75,77.10,68.31,79.30,54.29,644.0
Griffin High School,Charter,1468,917500,83.82,83.35,93.39,97.14,90.60,625.0
Hernandez High School,District,4635,3022020,80.93,77.29,66.75,80.86,53.53,652.0
Holden High School,Charter,427,248087,83.81,83.80,92.51,96.25,89.23,581.0
Huang High School,District,2917,1910635,81.18,76.63,65.68,81.32,53.51,655.0
Johnson High School,District,4761,3094650,80.97,77.07,66.06,81.22,53.54,650.0
Pena High School,Charter,962,585858,84.04,83.84,94.59,95.95,90.54,609.0
Rodriguez High School,District,3999,2547363,80.74,76.84,66.37,80.22,52.99,637.0
Shelton High School,Charter,1761,1056600,83.73,83.36,93.87,95.85,89.89,600.0
Thomas High School,Charter,1635,1043130,83.85,83.42,93.27,97.31,90.95,638.0
Wilson High School,Charter,2283,1319574,83.99,83.27,93.87,96.54,90.58,578.0
Wright High School,Charter,1800,1049400,83.96,83.68,93.33,96.61,90.33,583.0

In [1087]:
combined_district_df = combined_district_df[['School Type',"Total Students",'Total School Budget','Per Student Budget','Avg Math Score', 'Avg Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
combined_district_df

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,90.33

In [1088]:
topschools_district_df = combined_district_df.sort_values(['% Overall Passing'], ascending = False)
topschools_district_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54

In [1089]:
bottomschools_district_df = combined_district_df.sort_values(['% Overall Passing'], ascending = True)
bottomschools_district_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54

In [1090]:
students_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [1091]:
ninthgrade_df = students_df.loc[students_df['grade'] == '9th']
ninthgrade_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84

In [1092]:
ninthgrade_math = round(ninthgrade_df.groupby(['school_name'])['math_score'].mean(),2)
ninthgrade_math

school_name
Bailey High School       77.08
Cabrera High School      83.09
Figueroa High School     76.40
Ford High School         77.36
Griffin High School      82.04
Hernandez High School    77.44
Holden High School       83.79
Huang High School        77.03
Johnson High School      77.19
Pena High School         83.63
Rodriguez High School    76.86
Shelton High School      83.42
Thomas High School       83.59
Wilson High School       83.09
Wright High School       83.26
Name: math_score, dtype: float64

In [1093]:
tenthgrade_df = students_df.loc[students_df['grade'] == '10th']
tenthgrade_math = round(tenthgrade_df.groupby(['school_name'])['math_score'].mean(),2)
tenthgrade_math

school_name
Bailey High School       77.00
Cabrera High School      83.15
Figueroa High School     76.54
Ford High School         77.67
Griffin High School      84.23
Hernandez High School    77.34
Holden High School       83.43
Huang High School        75.91
Johnson High School      76.69
Pena High School         83.37
Rodriguez High School    76.61
Shelton High School      82.92
Thomas High School       83.09
Wilson High School       83.72
Wright High School       84.01
Name: math_score, dtype: float64

In [1094]:
eleventhgrade_df = students_df.loc[students_df['grade'] == '11th']
eleventhgrade_math = round(eleventhgrade_df.groupby(['school_name'])['math_score'].mean(),2)
eleventhgrade_math

school_name
Bailey High School       77.52
Cabrera High School      82.77
Figueroa High School     76.88
Ford High School         76.92
Griffin High School      83.84
Hernandez High School    77.14
Holden High School       85.00
Huang High School        76.45
Johnson High School      77.49
Pena High School         84.33
Rodriguez High School    76.40
Shelton High School      83.38
Thomas High School       83.50
Wilson High School       83.20
Wright High School       83.84
Name: math_score, dtype: float64

In [1095]:
twelfthgrade_df = students_df.loc[students_df['grade'] == '12th']
twelfthgrade_math = round(twelfthgrade_df.groupby(['school_name'])['math_score'].mean(),2)
twelfthgrade_math

school_name
Bailey High School       76.49
Cabrera High School      83.28
Figueroa High School     77.15
Ford High School         76.18
Griffin High School      83.36
Hernandez High School    77.19
Holden High School       82.86
Huang High School        77.23
Johnson High School      76.86
Pena High School         84.12
Rodriguez High School    77.69
Shelton High School      83.78
Thomas High School       83.50
Wilson High School       83.04
Wright High School       83.64
Name: math_score, dtype: float64

In [1096]:
mathscores_by_grade = pd.DataFrame(ninthgrade_math)
mathscores_by_grade = mathscores_by_grade.rename(columns={"math_score": "9th"})
mathscores_by_grade['10th'] = tenthgrade_math
mathscores_by_grade['11th'] = eleventhgrade_math
mathscores_by_grade['12th'] = twelfthgrade_math
mathscores_by_grade.index.names = ['']
mathscores_by_grade

                         9th   10th   11th   12th

Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [1097]:
ninthgrade_reading = round(ninthgrade_df.groupby(['school_name'])['reading_score'].mean(),2)
ninthgrade_reading

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

In [1098]:
tenthgrade_df = students_df.loc[students_df['grade'] == '10th']
tenthgrade_reading = round(tenthgrade_df.groupby(['school_name'])['reading_score'].mean(),2)
tenthgrade_reading

school_name
Bailey High School       80.91
Cabrera High School      84.25
Figueroa High School     81.41
Ford High School         81.26
Griffin High School      83.71
Hernandez High School    80.66
Holden High School       83.32
Huang High School        81.51
Johnson High School      80.77
Pena High School         83.61
Rodriguez High School    80.63
Shelton High School      83.44
Thomas High School       84.25
Wilson High School       84.02
Wright High School       83.81
Name: reading_score, dtype: float64

In [1099]:
eleventhgrade_df = students_df.loc[students_df['grade'] == '11th']
eleventhgrade_reading = round(eleventhgrade_df.groupby(['school_name'])['reading_score'].mean(),2)
eleventhgrade_reading

school_name
Bailey High School       80.95
Cabrera High School      83.79
Figueroa High School     80.64
Ford High School         80.40
Griffin High School      84.29
Hernandez High School    81.40
Holden High School       83.82
Huang High School        81.42
Johnson High School      80.62
Pena High School         84.34
Rodriguez High School    80.86
Shelton High School      84.37
Thomas High School       83.59
Wilson High School       83.76
Wright High School       84.16
Name: reading_score, dtype: float64

In [1100]:
twelfthgrade_df = students_df.loc[students_df['grade'] == '12th']
twelfthgrade_reading = round(twelfthgrade_df.groupby(['school_name'])['reading_score'].mean(),2)
twelfthgrade_reading

school_name
Bailey High School       80.91
Cabrera High School      84.29
Figueroa High School     81.38
Ford High School         80.66
Griffin High School      84.01
Hernandez High School    80.86
Holden High School       84.70
Huang High School        80.31
Johnson High School      81.23
Pena High School         84.59
Rodriguez High School    80.38
Shelton High School      82.78
Thomas High School       83.83
Wilson High School       84.32
Wright High School       84.07
Name: reading_score, dtype: float64

In [1101]:
readscores_by_grade = pd.DataFrame(ninthgrade_reading)
readscores_by_grade = readscores_by_grade.rename(columns={"reading_score": "9th"})
readscores_by_grade['10th'] = tenthgrade_reading
readscores_by_grade['11th'] = eleventhgrade_reading
readscores_by_grade['12th'] = twelfthgrade_reading
readscores_by_grade.index.names = ['']
readscores_by_grade

                         9th   10th   11th   12th

Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [1102]:
spending_scores_read = combined_district_df.groupby(['Per Student Budget'])['Avg Reading Score'].mean()
spending_scores_read

Per Student Budget
578.0    83.99
581.0    83.81
582.0    83.98
583.0    83.96
600.0    83.73
609.0    84.04
625.0    83.82
628.0    81.03
637.0    80.74
638.0    83.85
639.0    81.16
644.0    80.75
650.0    80.97
652.0    80.93
655.0    81.18
Name: Avg Reading Score, dtype: float64

In [1103]:
spending_scores_math = combined_district_df.groupby(['Per Student Budget'])['Avg Math Score'].mean()
spending_scores_math

Per Student Budget
578.0    83.27
581.0    83.80
582.0    83.06
583.0    83.68
600.0    83.36
609.0    83.84
625.0    83.35
628.0    77.05
637.0    76.84
638.0    83.42
639.0    76.71
644.0    77.10
650.0    77.07
652.0    77.29
655.0    76.63
Name: Avg Math Score, dtype: float64

In [1104]:
spending_perc_math = round(combined_district_df.groupby(['Per Student Budget'])['% Passing Math'].mean(),2)
spending_perc_math

Per Student Budget
578.0    93.87
581.0    92.51
582.0    94.13
583.0    93.33
600.0    93.87
609.0    94.59
625.0    93.39
628.0    66.68
637.0    66.37
638.0    93.27
639.0    65.99
644.0    68.31
650.0    66.06
652.0    66.75
655.0    65.68
Name: % Passing Math, dtype: float64

In [1105]:
spending_perc_reading = round(combined_district_df.groupby(['Per Student Budget'])['% Passing Reading'].mean(),2)
spending_perc_reading

Per Student Budget
578.0    96.54
581.0    96.25
582.0    97.04
583.0    96.61
600.0    95.85
609.0    95.95
625.0    97.14
628.0    81.93
637.0    80.22
638.0    97.31
639.0    80.74
644.0    79.30
650.0    81.22
652.0    80.86
655.0    81.32
Name: % Passing Reading, dtype: float64

In [1106]:
spending_perc_overall = round(combined_district_df.groupby(['Per Student Budget'])['% Overall Passing'].mean(),2)
spending_perc_overall

Per Student Budget
578.0    90.58
581.0    89.23
582.0    91.33
583.0    90.33
600.0    89.89
609.0    90.54
625.0    90.60
628.0    54.64
637.0    52.99
638.0    90.95
639.0    53.20
644.0    54.29
650.0    53.54
652.0    53.53
655.0    53.51
Name: % Overall Passing, dtype: float64

In [1107]:
spending_scores_df = pd.DataFrame(spending_scores_math)
spending_scores_df['Avg Reading Score'] = spending_scores_read
spending_scores_df['% Passing Math'] = spending_perc_math
spending_scores_df['% Passing Reading'] = spending_perc_reading
spending_scores_df['% Overall Passing'] = spending_perc_overall
spending_scores_df.reset_index(drop=False, inplace=True)
spending_scores_df

,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,578.0,83.27,83.99,93.87,96.54,90.58
1,581.0,83.80,83.81,92.51,96.25,89.23
2,582.0,83.06,83.98,94.13,97.04,91.33
3,583.0,83.68,83.96,93.33,96.61,90.33
4,600.0,83.36,83.73,93.87,95.85,89.89
5,609.0,83.84,84.04,94.59,95.95,90.54
6,625.0,83.35,83.82,93.39,97.14,90.60
7,628.0,77.05,81.03,66.68,81.93,54.64
8,637.0,76.84,80.74,66.37,80.22,52.99
9,638.0,83.42,83.85,93.27,97.31,90.95
10,639.0,76.71,81.16,65.99,80.74,53.20
11,644.0,77.10,80.75,68.31,79.30,54.29
12,650.0,77.07,80.97,66.06,81.22,53.54
13,652.0,77.29,80.93,66.75,80.86,53.53
14,655.0,76.63,81.18,65.68,81.32,53.51

In [1108]:
bins = [0,585, 630, 645, 680]
labels = ['<$585','$585-630','$630-645','$645-680']
binned_spending_scores = pd.cut(spending_scores_df['Per Student Budget'], bins, labels=labels)
binned_spending_scores

0        <$585
1        <$585
2        <$585
3        <$585
4     $585-630
5     $585-630
6     $585-630
7     $585-630
8     $630-645
9     $630-645
10    $630-645
11    $630-645
12    $645-680
13    $645-680
14    $645-680
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [1109]:
spending_scores_df['Spending Ranges Per Student'] = binned_spending_scores
spending_scores_df

,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges Per Student
0,578.0,83.27,83.99,93.87,96.54,90.58,<$585
1,581.0,83.80,83.81,92.51,96.25,89.23,<$585
2,582.0,83.06,83.98,94.13,97.04,91.33,<$585
3,583.0,83.68,83.96,93.33,96.61,90.33,<$585
4,600.0,83.36,83.73,93.87,95.85,89.89,$585-630
5,609.0,83.84,84.04,94.59,95.95,90.54,$585-630
6,625.0,83.35,83.82,93.39,97.14,90.60,$585-630
7,628.0,77.05,81.03,66.68,81.93,54.64,$585-630
8,637.0,76.84,80.74,66.37,80.22,52.99,$630-645
9,638.0,83.42,83.85,93.27,97.31,90.95,$630-645
10,639.0,76.71,81.16,65.99,80.74,53.20,$630-645
11,644.0,77.10,80.75,68.31,79.30,54.29,$630-645
12,650.0,77.07,80.97,66.06,81.22,53.54,$645-680
13,652.0,77.29,80.93,66.75,80.86,53.53,$645-680
14,655.0,76.63,81.18,65.68,81.32,53.51,$645-680

In [1110]:
spending_math_binned = round(spending_scores_df.groupby(['Spending Ranges Per Student'])['Avg Math Score'].mean(),2)
spending_math_binned

Spending Ranges Per Student
<$585       83.45
$585-630    81.90
$630-645    78.52
$645-680    77.00
Name: Avg Math Score, dtype: float64

In [1111]:
spending_reading_binned = round(spending_scores_df.groupby(['Spending Ranges Per Student'])['Avg Reading Score'].mean(),2)
spending_reading_binned

Spending Ranges Per Student
<$585       83.94
$585-630    83.16
$630-645    81.62
$645-680    81.03
Name: Avg Reading Score, dtype: float64

In [1112]:
spending_percmath_binned = round(spending_scores_df.groupby(['Spending Ranges Per Student'])['% Passing Math'].mean(),2)
spending_percmath_binned

Spending Ranges Per Student
<$585       93.46
$585-630    87.13
$630-645    73.48
$645-680    66.16
Name: % Passing Math, dtype: float64

In [1113]:
spending_percread_binned = round(spending_scores_df.groupby(['Spending Ranges Per Student'])['% Passing Reading'].mean(),2)
spending_percread_binned

Spending Ranges Per Student
<$585       96.61
$585-630    92.72
$630-645    84.39
$645-680    81.13
Name: % Passing Reading, dtype: float64

In [1114]:
spending_percall_binned = round(spending_scores_df.groupby(['Spending Ranges Per Student'])['% Overall Passing'].mean(),2)
spending_percall_binned

Spending Ranges Per Student
<$585       90.37
$585-630    81.42
$630-645    62.86
$645-680    53.53
Name: % Overall Passing, dtype: float64

In [1115]:
scores_by_spending = pd.DataFrame(spending_math_binned)
scores_by_spending['Avg Reading Score'] = spending_reading_binned
scores_by_spending['% Passing Math'] = spending_percmath_binned
scores_by_spending['% Passing Reading'] = spending_percmath_binned
scores_by_spending['% Overall Passing'] = spending_percall_binned
scores_by_spending

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges Per Student,,,,,
<$585,83.45,83.94,93.46,93.46,90.37
$585-630,81.90,83.16,87.13,87.13,81.42
$630-645,78.52,81.62,73.48,73.48,62.86
$645-680,77.00,81.03,66.16,66.16,53.53

In [1116]:
size_scores_math = round(combined_district_df.groupby(['Total Students'])['Avg Math Score'].mean(),2)
size_scores_math

Total Students
427     83.80
962     83.84
1468    83.35
1635    83.42
1761    83.36
1800    83.68
1858    83.06
2283    83.27
2739    77.10
2917    76.63
2949    76.71
3999    76.84
4635    77.29
4761    77.07
4976    77.05
Name: Avg Math Score, dtype: float64

In [1117]:
size_scores_read = round(combined_district_df.groupby(['Total Students'])['Avg Reading Score'].mean(),2)
size_scores_read

Total Students
427     83.81
962     84.04
1468    83.82
1635    83.85
1761    83.73
1800    83.96
1858    83.98
2283    83.99
2739    80.75
2917    81.18
2949    81.16
3999    80.74
4635    80.93
4761    80.97
4976    81.03
Name: Avg Reading Score, dtype: float64

In [1118]:
size_scores_percmath = round(combined_district_df.groupby(['Total Students'])['% Passing Math'].mean(),2)
size_scores_percmath

Total Students
427     92.51
962     94.59
1468    93.39
1635    93.27
1761    93.87
1800    93.33
1858    94.13
2283    93.87
2739    68.31
2917    65.68
2949    65.99
3999    66.37
4635    66.75
4761    66.06
4976    66.68
Name: % Passing Math, dtype: float64

In [1119]:
size_scores_percread = round(combined_district_df.groupby(['Total Students'])['% Passing Reading'].mean(),2)
size_scores_percread

Total Students
427     96.25
962     95.95
1468    97.14
1635    97.31
1761    95.85
1800    96.61
1858    97.04
2283    96.54
2739    79.30
2917    81.32
2949    80.74
3999    80.22
4635    80.86
4761    81.22
4976    81.93
Name: % Passing Reading, dtype: float64

In [1120]:
size_scores_percall = round(combined_district_df.groupby(['Total Students'])['% Overall Passing'].mean(),2)
size_scores_percall

Total Students
427     89.23
962     90.54
1468    90.60
1635    90.95
1761    89.89
1800    90.33
1858    91.33
2283    90.58
2739    54.29
2917    53.51
2949    53.20
3999    52.99
4635    53.53
4761    53.54
4976    54.64
Name: % Overall Passing, dtype: float64

In [1121]:
size_scores_df = pd.DataFrame(size_scores_math)
size_scores_df['Avg Reading Score'] = size_scores_read
size_scores_df['% Passing Math'] = size_scores_percmath
size_scores_df['% Passing Reading'] = size_scores_percread
size_scores_df['% Overall Passing'] = size_scores_percall
size_scores_df.reset_index(drop=False, inplace=True)
size_scores_df

,Total Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,427,83.80,83.81,92.51,96.25,89.23
1,962,83.84,84.04,94.59,95.95,90.54
2,1468,83.35,83.82,93.39,97.14,90.60
3,1635,83.42,83.85,93.27,97.31,90.95
4,1761,83.36,83.73,93.87,95.85,89.89
5,1800,83.68,83.96,93.33,96.61,90.33
6,1858,83.06,83.98,94.13,97.04,91.33
7,2283,83.27,83.99,93.87,96.54,90.58
8,2739,77.10,80.75,68.31,79.30,54.29
9,2917,76.63,81.18,65.68,81.32,53.51
10,2949,76.71,81.16,65.99,80.74,53.20
11,3999,76.84,80.74,66.37,80.22,52.99
12,4635,77.29,80.93,66.75,80.86,53.53
13,4761,77.07,80.97,66.06,81.22,53.54
14,4976,77.05,81.03,66.68,81.93,54.64

In [1122]:
bins = [0,1000, 2000, 5000]
labels = ['Small (<1000)','Medium (1000-2000)','Large (2000-5000)']
binned_size_scores = pd.cut(size_scores_df['Total Students'], bins, labels=labels)
binned_size_scores

0          Small (<1000)
1          Small (<1000)
2     Medium (1000-2000)
3     Medium (1000-2000)
4     Medium (1000-2000)
5     Medium (1000-2000)
6     Medium (1000-2000)
7      Large (2000-5000)
8      Large (2000-5000)
9      Large (2000-5000)
10     Large (2000-5000)
11     Large (2000-5000)
12     Large (2000-5000)
13     Large (2000-5000)
14     Large (2000-5000)
Name: Total Students, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [1123]:
size_scores_df['School Size'] = binned_size_scores
size_scores_df

,Total Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
0,427,83.80,83.81,92.51,96.25,89.23,Small (<1000)
1,962,83.84,84.04,94.59,95.95,90.54,Small (<1000)
2,1468,83.35,83.82,93.39,97.14,90.60,Medium (1000-2000)
3,1635,83.42,83.85,93.27,97.31,90.95,Medium (1000-2000)
4,1761,83.36,83.73,93.87,95.85,89.89,Medium (1000-2000)
5,1800,83.68,83.96,93.33,96.61,90.33,Medium (1000-2000)
6,1858,83.06,83.98,94.13,97.04,91.33,Medium (1000-2000)
7,2283,83.27,83.99,93.87,96.54,90.58,Large (2000-5000)
8,2739,77.10,80.75,68.31,79.30,54.29,Large (2000-5000)
9,2917,76.63,81.18,65.68,81.32,53.51,Large (2000-5000)
10,2949,76.71,81.16,65.99,80.74,53.20,Large (2000-5000)
11,3999,76.84,80.74,66.37,80.22,52.99,Large (2000-5000)
12,4635,77.29,80.93,66.75,80.86,53.53,Large (2000-5000)
13,4761,77.07,80.97,66.06,81.22,53.54,Large (2000-5000)
14,4976,77.05,81.03,66.68,81.93,54.64,Large (2000-5000)

In [1124]:
size_math_binned = round(size_scores_df.groupby(['School Size'])['Avg Math Score'].mean(),2)
size_math_binned

School Size
Small (<1000)         83.82
Medium (1000-2000)    83.37
Large (2000-5000)     77.74
Name: Avg Math Score, dtype: float64

In [1125]:
size_read_binned = round(size_scores_df.groupby(['School Size'])['Avg Reading Score'].mean(),2)
size_read_binned

School Size
Small (<1000)         83.93
Medium (1000-2000)    83.87
Large (2000-5000)     81.34
Name: Avg Reading Score, dtype: float64

In [1126]:
size_percmath_binned = round(size_scores_df.groupby(['School Size'])['% Passing Math'].mean(),2)
size_percmath_binned

School Size
Small (<1000)         93.55
Medium (1000-2000)    93.60
Large (2000-5000)     69.96
Name: % Passing Math, dtype: float64

In [1127]:
size_percread_binned = round(size_scores_df.groupby(['School Size'])['% Passing Reading'].mean(),2)
size_percread_binned

School Size
Small (<1000)         96.10
Medium (1000-2000)    96.79
Large (2000-5000)     82.77
Name: % Passing Reading, dtype: float64

In [1128]:
size_percall_binned = round(size_scores_df.groupby(['School Size'])['% Overall Passing'].mean(),2)
size_percall_binned

School Size
Small (<1000)         89.88
Medium (1000-2000)    90.62
Large (2000-5000)     58.28
Name: % Overall Passing, dtype: float64

In [1129]:
scores_by_size = pd.DataFrame(size_math_binned)
scores_by_size['Avg Reading Score'] = size_math_binned
scores_by_size['% Passing Math'] = size_percmath_binned
scores_by_size['% Passing Reading'] = size_percread_binned
scores_by_size['% Overall Passing'] = size_percall_binned
scores_by_size

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.82,93.55,96.10,89.88
Medium (1000-2000),83.37,83.37,93.60,96.79,90.62
Large (2000-5000),77.74,77.74,69.96,82.77,58.28

In [1130]:
type_scores_math = round(combined_district_df.groupby(['School Type'])['Avg Math Score'].mean(),2)
type_scores_math

School Type
Charter     83.47
District    76.96
Name: Avg Math Score, dtype: float64

In [1131]:
type_scores_read = round(combined_district_df.groupby(['School Type'])['Avg Reading Score'].mean(),2)
type_scores_read

School Type
Charter     83.90
District    80.97
Name: Avg Reading Score, dtype: float64

In [1132]:
type_scores_percmath = round(combined_district_df.groupby(['School Type'])['% Passing Math'].mean(),2)
type_scores_percmath

School Type
Charter     93.62
District    66.55
Name: % Passing Math, dtype: float64

In [1133]:
type_scores_percread = round(combined_district_df.groupby(['School Type'])['% Passing Reading'].mean(),2)
type_scores_percread

School Type
Charter     96.59
District    80.80
Name: % Passing Reading, dtype: float64

In [1134]:
type_scores_percall = round(combined_district_df.groupby(['School Type'])['% Overall Passing'].mean(),2)
type_scores_percall

School Type
Charter     90.43
District    53.67
Name: % Overall Passing, dtype: float64

In [1135]:
scores_by_type = pd.DataFrame(type_scores_math)
scores_by_type['Avg Reading Score'] = type_scores_read
scores_by_type['% Passing Math'] = type_scores_percmath
scores_by_type['% Passing Reading'] = type_scores_percread
scores_by_type['% Overall Passing'] = type_scores_percall

scores_by_type

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67

In [1136]:
#Final dataframes:
#------------------------
#District Summary
district_df_final = district_df
district_df_final

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,65.17

In [1137]:
#School Summary
#----------
#dataframe reformatted for consistency in decimal places and currency. Practiced some pandas styler attributes

reformat_combined_district_df = combined_district_df.copy()
reformat_combined_district_df['Total School Budget'] = reformat_combined_district_df['Total School Budget'].map('${:,.2f}'.format)
reformat_combined_district_df['Total Students'] = reformat_combined_district_df['Total Students'].map('{:,}'.format)
reformat_combined_district_df['Avg Math Score'] = reformat_combined_district_df['Avg Math Score'].map('{:.2f}'.format)
reformat_combined_district_df['Avg Reading Score'] = reformat_combined_district_df['Avg Reading Score'].map('{:.2f}'.format)
reformat_combined_district_df['% Passing Math'] = reformat_combined_district_df['% Passing Math'].map('{:.2f}'.format)
reformat_combined_district_df['% Passing Reading'] = reformat_combined_district_df['% Passing Reading'].map('{:.2f}'.format)
reformat_combined_district_df['% Overall Passing'] = reformat_combined_district_df['% Overall Passing'].map('{:.2f}'.format)
reformat_combined_district_df['Per Student Budget'] = reformat_combined_district_df['Per Student Budget'].map('${:,.2f}'.format)
#define function to highlight specific information in the data frame; obtained from:https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html
def color_type(value):
    color = "green" if value == "District" else 'black'
    return 'color: %s' % color
reformat_combined_district_df = reformat_combined_district_df.style.applymap(color_type)
reformat_combined_district_df

In [1138]:
#School Summary: Top 5 by Overall Passing
reformatted_topschools_district_df = topschools_district_df.head(5)
reformatted_topschools_district_df['Total School Budget'] = reformatted_topschools_district_df['Total School Budget'].map('${:,.2f}'.format)
reformatted_topschools_district_df['Total Students'] = reformatted_topschools_district_df['Total Students'].map('{:,}'.format)
reformatted_topschools_district_df['Avg Math Score'] = reformatted_topschools_district_df['Avg Math Score'].map('{:.2f}'.format)
reformatted_topschools_district_df['Avg Reading Score'] = reformatted_topschools_district_df['Avg Reading Score'].map('{:.2f}'.format)
reformatted_topschools_district_df['% Passing Math'] = reformatted_topschools_district_df['% Passing Math'].map('{:.2f}'.format)
reformatted_topschools_district_df['% Passing Reading'] = reformatted_topschools_district_df['% Passing Reading'].map('{:.2f}'.format)
reformatted_topschools_district_df['% Overall Passing'] = reformatted_topschools_district_df['% Overall Passing'].map('{:.2f}'.format)
reformatted_topschools_district_df['Per Student Budget'] = reformatted_topschools_district_df['Per Student Budget'].map('${:,.2f}'.format)
def color_type(value):
    color = "green" if value == "District" else 'black'
    return 'color: %s' % color
reformatted_topschools_district_df = reformatted_topschools_district_df.style.applymap(color_type)
reformatted_topschools_district_df

In [1139]:
#School Summary: Bottom 5 by Overall Passing
reformatted_bottomschools_district_df = bottomschools_district_df.head(5)
reformatted_bottomschools_district_df['Total School Budget'] = reformatted_bottomschools_district_df['Total School Budget'].map('${:,.2f}'.format)
reformatted_bottomschools_district_df['Total Students'] = reformatted_bottomschools_district_df['Total Students'].map('{:,}'.format)
reformatted_bottomschools_district_df['Avg Math Score'] = reformatted_bottomschools_district_df['Avg Math Score'].map('{:.2f}'.format)
reformatted_bottomschools_district_df['Avg Reading Score'] = reformatted_bottomschools_district_df['Avg Reading Score'].map('{:.2f}'.format)
reformatted_bottomschools_district_df['% Passing Math'] = reformatted_bottomschools_district_df['% Passing Math'].map('{:.2f}'.format)
reformatted_bottomschools_district_df['% Passing Reading'] = reformatted_bottomschools_district_df['% Passing Reading'].map('{:.2f}'.format)
reformatted_bottomschools_district_df['% Overall Passing'] = reformatted_bottomschools_district_df['% Overall Passing'].map('{:.2f}'.format)
reformatted_bottomschools_district_df['Per Student Budget'] = reformatted_bottomschools_district_df['Per Student Budget'].map('${:,.2f}'.format)
def color_type(value):
    color = "green" if value == "District" else 'black'
    return 'color: %s' % color
reformatted_bottomschools_district_df = reformatted_bottomschools_district_df.style.applymap(color_type)
reformatted_bottomschools_district_df

In [1140]:
#School Summary: Math Score by Grade
mathscores_by_grade

                         9th   10th   11th   12th

Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [1142]:
#School Summary: Read Score by Grade
readscores_by_grade

                         9th   10th   11th   12th

Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [1143]:
#School Summary: Scores by School Spending
scores_by_spending

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges Per Student,,,,,
<$585,83.45,83.94,93.46,93.46,90.37
$585-630,81.90,83.16,87.13,87.13,81.42
$630-645,78.52,81.62,73.48,73.48,62.86
$645-680,77.00,81.03,66.16,66.16,53.53

In [1144]:
#School Summary: Scores by School Size
scores_by_size

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.82,93.55,96.10,89.88
Medium (1000-2000),83.37,83.37,93.60,96.79,90.62
Large (2000-5000),77.74,77.74,69.96,82.77,58.28

In [1145]:
#School Summary: Scores by School Type
scores_by_type

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67