In [87]:
import pandas as pd

In [88]:
#reading school csv to dataframe
schools_path = r"/Users/rosaicelaroman/Desktop/Data_BootCamp/LearnPython/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
schools_df = pd.read_csv(schools_path)
schools_df.head(3)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [89]:
#reading students csv to dataframe
schools_path = r"/Users/rosaicelaroman/Desktop/Data_BootCamp/LearnPython/pandas-challenge/PyCitySchools/Resources/students_complete.csv"
students_df = pd.read_csv(schools_path)
students_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [90]:
#district summary
#--------------------------------
#dataframe info
schools_df.info()
schools_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School ID    15 non-null     int64
 1   school_name  15 non-null     object
 2   type         15 non-null     object
 3   size         15 non-null     int64
 4   budget       15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [91]:
schools_df.describe()

       School ID         size        budget
count  15.000000    15.000000  1.500000e+01
mean    7.000000  2611.333333  1.643295e+06
std     4.472136  1420.915282  9.347763e+05
min     0.000000   427.000000  2.480870e+05
25%     3.500000  1698.000000  1.046265e+06
50%     7.000000  2283.000000  1.319574e+06
75%    10.500000  3474.000000  2.228999e+06
max    14.000000  4976.000000  3.124928e+06

In [92]:
#total schools
total_schools = schools_df["school_name"].count()
total_schools

15

In [93]:
#total students
total_students = schools_df["size"].sum()
total_students

39170

In [94]:
#total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [95]:
#calculate average math score
students_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [96]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB

In [97]:
avg_math = students_df['math_score'].mean()
avg_math

78.98537145774827

In [98]:
#calculate average reading score
avg_reading = students_df['reading_score'].mean()
avg_reading

81.87784018381414

In [99]:
#* Calculate the percentage of students with a passing math score (70 or greater)
bins = [0, 69,100]
group_names = ['not passing','passing']
copy_students_df = students_df.copy()
copy_students_df['math_score']=pd.cut(copy_students_df['math_score'], bins, labels = group_names)
copy_students_df['reading_score']=pd.cut(copy_students_df['reading_score'], bins, labels = group_names)
copy_students_df


# Calculate the percentage of students who passed math **and** reading (% Overall Passing)

# Create a dataframe to hold the above results

# Optional: give the displayed data cleaner formatting

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,not passing,passing
1,1,Victor Smith,M,12th,Huang High School,passing,not passing
2,2,Kevin Rodriguez,M,12th,Huang High School,passing,not passing
3,3,Dr. Richard Scott,M,12th,Huang High School,not passing,not passing
4,4,Bonnie Ray,F,9th,Huang High School,passing,passing
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,passing,passing
39166,39166,Dawn Bell,F,10th,Thomas High School,passing,passing
39167,39167,Rebecca Tanner,F,9th,Thomas High School,passing,passing
39168,39168,Desiree Kidd,F,10th,Thomas High School,passing,passing
39169,39169,Carolyn Jackson,F,11th,Thomas High School,passing,passing

In [100]:
# Calculate the percentage of students with a passing reading score (70 or greater)
math_passing = copy_students_df['math_score'].value_counts()

In [101]:
summary_df_1 = pd.DataFrame(math_passing)
summary_df_1.index.name = "Student Status"
summary_df_1

                math_score
Student Status
passing              29370
not passing           9800

In [102]:
reading_passing = copy_students_df['reading_score'].value_counts()

In [103]:
summary_df_2 = pd.DataFrame(reading_passing)
summary_df_2.index.name = "Student Status"
summary_df_2

                reading_score
Student Status
passing                 33610
not passing              5560

In [117]:
perc_math = copy_students_df['math_score'].value_counts(normalize=True)*100

In [118]:
summary_df_3 = pd.DataFrame(perc_math)
summary_df_3.index.name = "Student Status"
summary_df_3

                math_score
Student Status
passing          74.980853
not passing      25.019147

In [129]:
math_pass_perc = summary_df_3.iloc[0]
math_pass_perc

math_score    74.980853
Name: passing, dtype: float64

In [130]:
perc_reading = copy_students_df['reading_score'].value_counts(normalize=True)*100

In [131]:
summary_df_4 = pd.DataFrame(perc_reading)
summary_df_4.index.name = "Student Status"
summary_df_4

                reading_score
Student Status
passing             85.805463
not passing         14.194537

In [132]:
reading_pass_perc = summary_df_4.iloc[0]
reading_pass_perc

reading_score    85.805463
Name: passing, dtype: float64

In [108]:
combined_perc_df = summary_df_3.join(summary_df_4, lsuffix="", rsuffix="")
combined_perc_df

                math_score  reading_score
Student Status
passing          74.980853      85.805463
not passing      25.019147      14.194537

In [109]:
renamed_per_df = combined_perc_df.rename(columns={"math_score": "% Math", "reading_score": "% Reading"})
renamed_per_df

                   % Math  % Reading
Student Status
passing         74.980853  85.805463
not passing     25.019147  14.194537

In [133]:
if 'reading_score' in copy_students_df.columns == 'passing' and 'math_score' in copy_students_df.columns == 'passing':
    copy_students_df['Overall Passing'] = "Passing"
else:
    copy_students_df['Overall Passing'] = "Passing"

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
copy_students_df